@mixin footer_list {
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  font-family: $font_normal;
  font-size: 1.6rem;
  width: 15rem;
  line-height: 1.88;
}
@mixin links {
  text-decoration: none;
  color: $primary_color;
}
