// fonts
$font_normal: "Roboto", sans-serif;
$font_title: "Roboto Slab", serif;
// font-sizes
$capital: uppercase;
// line-heights

// spaces (margins, paddings)

// colors
$primary_color: white;
$buttons_color: #f26002;
$back_color: #304268;
