@media (min-width: 1200px) {
  /*   header */
  .hero-article {
    margin: 38.4rem auto 1.3rem;
    .header-title {
      width: 73rem;
      height: 26.4rem;
      font-size: 10rem;
      line-height: 1.32;
      text-shadow: 0 0.2rem 0.5rem rgba(0, 0, 0, 0.5);
    }

    .header-subtitle {
      width: 73rem;
      margin: 0;
    }
  }

  /*main */
  .principal-main {
    width: 120rem;
    height: 36rem;
    padding: 6rem 23.5rem;
    .tip-main {
      width: 73rem;
      font-size: 1.6rem;
      line-height: 1.88;
    }
    .principal-title {
      width: 73rem;
      height: 4.5rem;
      font-size: 3.2rem;
      line-height: 1.41;
    }
    .principal-tip {
      width: 73rem;
    }
    .go-button {
      width: 16rem;
    }
  }

  .secundary-main {
    height: 42.7rem;
    padding: 6rem 0 6rem;
    grid-template-columns: 35.38rem 35.38rem 35.38rem;
    column-gap: 2.62rem;

    .secundary-title {
      width: 73rem;
      font-size: 3.2rem;
      line-height: 1.41;
    }
    .first-article {
      @include article_desktop();
      .first-title {
        @include title_desktop;
      }
      .first-tip {
        @include tips_desktop;
      }
    }
    .second-article {
      @include article_desktop;
      .second-title {
        @include title_desktop;
      }
      .second-tip {
        @include tips_desktop;
      }
    }
    .third-article {
      @include article_desktop;
      .third-title {
        @include title_desktop;
      }
      .third-tip {
        @include tips_desktop;
      }
    }
    .more-button {
      width: 25.5rem;
      text-transform: capitalize;
    }
  }
  /*   footer */
  .footer-container {
    width: 120rem;
    padding: 4.5rem 3.7rem;
    .footer-ul {
      width: 16rem;
    }
    .list-rrss {
      width: 16rem;
    }
    .footer-logo {
      width: 16rem;
    }
  }
}
