.footer {
  background-color: $back_color;
  display: flex;
  justify-content: center;

  .footer-container {
    width: 32rem;
    height: 46.5rem;
    padding: 6rem 1.5rem 4.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .footer-ul {
      @include footer_list();
      height: 15rem;
      .footer-link {
        @include links();
      }
    }
    .list-rrss {
      @include footer_list();
      margin-top: 3rem;
      height: 9rem;
      .footer-link {
        @include links();
      }
    }
    .footer-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-top: 3rem;
      .copy-year {
        width: 29rem;
        height: 3rem;
        font-size: 1.4rem;
        color: $primary_color;
        line-height: 2.14;
        text-align: center;
      }
      .footer-motto {
        width: 29rem;
        height: 3rem;
        font-size: 1.4rem;
        text-align: center;
        color: $primary_color;
        line-height: 2.14;
      }
    }
  }
  .button-container {
    display: flex;
    position: absolute;
    border: none;
    .footer-button {
      margin-top: -2.25rem;
      z-index: 2;
      @include arrow_button();
      .arrow {
        width: 2.06rem;
        height: 2.4rem;
        z-index: 3;
        object-fit: contain;
      }
    }
  }
}
