.header-section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  .header-img {
    display: flex;
    justify-content: center;
    overflow-x: hidden;
  }
  .img-city {
    width: 300vh;
    height: 100vh;
  }
  .back-burguer {
    background-color: #0271bc;
    display: flex;
    width: 4.4rem;
    height: 4.4rem;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 2;
    border: none;
    /* cursor: hand; */
    .img-burguer {
      width: 1.6rem;
      height: 1.4rem;
    }
  }
}
.hero-article {
  margin: 28.4rem 0 6.2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
  position: absolute;
  .header-title {
    font-family: $font_title;
    font-weight: bold;
    font-size: 4.2rem;
    width: 29rem;
    text-align: center;
    color: $primary_color;
    text-transform: $capital;
  }
  .header-subtitle {
    color: $primary_color;
    font-family: $font_normal;
    font-size: 1.6rem;
    width: 29rem;
    height: 2.1rem;
    text-align: center;
    margin-top: 1rem;
  }
  .arrow-down-button {
    margin-top: 4.5rem;
    @include arrow_button();
  }

  .arrow-down {
    width: 2rem;
    height: 1.17rem;
    z-index: 3;
    object-fit: contain;
  }
}
