.principal-main {
  height: 37.6rem;
  margin: auto;
  padding: 3rem 1.5rem 4.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $primary_color;

  .tip-main {
    width: 29rem;
    height: 3rem;
    text-align: start;
    font-size: 1.4rem;
    line-height: 2.14;
    color: $insomnia_color;
  }

  .principal-title {
    width: 29rem;
    height: 6rem;
    font-size: 2.4rem;
    font-family: $font_title;
    font-weight: bold;
    text-transform: $first-capital;
    margin-top: 0.1rem;
    line-height: 1.25;
    color: $html-color;
  }
  .principal-tip {
    width: 29rem;
    height: 12rem;
    margin: 1.5rem 0 3rem;
    font-size: 1.8rem;
    line-height: 1.67;
    color: $text-color;
  }
  .go-button {
    width: 7.6rem;
    height: 4.5rem;
    display: flex;
    justify-content: center;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.25;
    border-radius: 2.25rem;
    text-align: center;
    border: solid 0.2rem $buttons_color;
    background-color: $primary_color;
    color: $buttons_color;
    animation: 4s slidein;
    overflow: hidden;
  }
  @keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
    to {
      margin-left: 0%;
      width: 7.6rem;
    }
  }
}

.secundary-main {
  margin: auto;
  padding: 3rem 0 6rem;
  background-color: $color-main;
  display: grid;
  justify-content: center;
  .secundary-title {
    width: 29rem;
    height: 3rem;
    font-size: 2.4rem;
    font-family: $font_title;
    font-weight: bold;
    line-height: 1.25;
    text-align: center;
    color: $html-color;
  }
  .first-article {
    @include articles_mobile();
    .first-title {
      @include title_mobile();
    }
    .first-tip {
      @include tips_mobile();
    }
  }
  .second-article {
    @include articles_mobile();
    .second-title {
      @include title_mobile();
    }
    .second-tip {
      @include tips_mobile();
    }
  }
  .third-article {
    @include articles_mobile();
    .third-title {
      @include title_mobile();
    }
    .third-tip {
      @include tips_mobile();
    }
  }
  .more-button {
    width: 18.4rem;
    height: 4.5rem;
    margin: 4.5rem auto 0rem;
    background-color: $buttons_color;
    font-size: 2rem;
    font-weight: 500;
    line-height: 2.25;
    border-radius: 2.25rem;
    text-align: center;
    color: $primary_color;
    border: none;
    transition: 2s ease;
  }
  .more-button:hover {
    transform: perspective(5rem) rotateX(45deg);
    transform: perspective(5rem) rotateX(45deg);
  }
}
