<footer>
   <section class="footer">
      <article class="button-container">
         <div class="footer-button">
            <a class="arrow" href="#home" title="Home"><img src="./images/ico-arrow.svg"
                  alt="Icono flecha hacia arriba" /></a>
         </div>
      </article>
      <article class="footer-container">
         <ul class="footer-ul">
            <li><a class="footer-link" href="https://adalab.es/" title="adalab.es" target="_blank">articles</a></li>
            <li><a class="footer-link" href="https://adalab.es/" title="adalab.es" target="_blank">books</a></li>
            <li><a class="footer-link" href="https://adalab.es/" title="adalab.es" target="_blank">events</a></li>
            <li><a class="footer-link" href="https://adalab.es/" title="adalab.es" target="_blank">reasons</a></li>
            <li><a class="footer-link" href="https://adalab.es/" title="adalab.es" target="_blank">tips</a></li>
         </ul>
         <ul class="list-rrss">
            <li><a class="footer-link" href="https://adalab.es/" title="adalab.es" target="_blank">twitter</a></li>
            <li><a class="footer-link" href="https://adalab.es/" title="adalab.es" target="_blank">instagram</a></li>
            <li><a class="footer-link" href="https://adalab.es/" title="adalab.es" target="_blank">mastodon.social</a>
            </li>
         </ul>
         <div class="footer-logo">
            <span class="copy-year"> &copy; 2023 </span>
            <p class="footer-motto">we <span>🧡</span> components</p>
         </div>
      </article>
   </section>
</footer>