<footer>
   <section class="footer-container">
      <button class="arrow-button">
         <a class="arrow" href="#"><img src="../images/ico-arrow.svg" alt="Icono flecha hacia arriba"></a>
      </button>
      <ul class="footer-ul">
         <li><a class="footer-link" href="">articles</a></li>
         <li><a class="footer-link" href="">books</a></li>
         <li><a class="footer-link" href="">events</a></li>
         <li><a class="footer-link" href="">reasons</a></li>
         <li><a class="footer-link" href="">tips</a></li>
      </ul>
      <ul class="list-rrss">
         <li><a class="footer-link" href="">twitter</a></li>
         <li><a class="footer-link" href="">instagram</a></li>
         <li><a class="footer-link" href="">mastodon.social</a></li>
      </ul>

      <span class="copy-year"> &copy; 2023 </span>
      <p class="footer-motto">we <span>🧡</span> components</p>
   </section>


</footer>