<header>

   <section id="home" class="header-section">
      <div class="header-img">
         <img class="img-city" src="../images/cover.jpg" alt="Foto de ciudad" title="Imagen ciudad">
         <button class="back-burguer">
            <a class="img-burguer" href="https://adalab.es/" target="_blank" title="adalab.es"><img
                  src="../images/ico-menu.svg" alt="hamburguesa" /></a> </button>
      </div>
      <article class="hero-article">
         <h1 class="header-title">Anonymous Proxy</h1>
         <span class="header-subtitle">In hac habitasse platea dictumst.</span>
         <button class="arrow-down-button">
            <a class="arrow-down" href="#" title="3 Reasons To Purchase"><img src="../images/ico-scroll-down.svg"
                  alt="Icono flecha hacia abajo"></a>
      </article>
   </section>
</header>