<main>
   <section class="principal-main">
      <span class="tip-main">Insomnia Tips</span>
      <article class="principal-article">
         <h2 class="principal-title">Looking trough a window</h2>
         <p class="principal-tip"> Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex
            diam nec lectus. Vivamus semper sodales rutrum.
         </p>
         <a class="go-button" href="https://adalab.es/" target="_blank">
            Go
         </a>
      </article>
   </section>
   <section class="secundary-main">
      <h2 id="reasons" class="secundary-title">3 Reasons To Purchase</h2>
      <article class="first-article">
         <h6 class="first-title">Ut sed metus</h6>
         <p class="first-tip">Lorem ipsum dolor sit amet, consectetur.</p>
      </article>
      <article class="second-article">
         <h6 class="second-title">Curabitur ac erat</h6>
         <p class="second-tip">Mauris mattis urna quis lorem molestie.</p>
      </article>
      <article class="third-article">
         <h6 class="third-title">Morbi dictum</h6>
         <p class="third-tip">Aliquam in dolor et dolor tincidunt.</p>
      </article>
      <a class="more-button" href="https://adalab.es/" target="_blank">More reasons</a>
   </section>
</main>